<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{bio/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>BioInvReceiving Modify</title>
</head>
<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <p><b>수 정</b></p>
                </div>
                <div class="card-body">
                    <form th:action="@{/bio/BioInvReceivingmodify}" method="post" id="f1">
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="width:100px; justify-content: center;">입고번호</span>
                            <input type="text" class="form-control" th:value="${dto.receivingId}" name="receivingId" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="width:100px; justify-content: center;">제품코드</span>
                            <input type="text" class="form-control" th:value="${dto.productCode}" name="productCode">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="width:100px; justify-content: center;">입고수량</span>
                            <input type="text" class="form-control" th:value="${dto.quantity}" name="quantity">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="width:100px; justify-content: center;">공급업체</span>
                            <input type="text" class="form-control" th:value="${dto.supplier}" name="supplier">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="width:100px; justify-content: center;">창고위치</span>
                            <input type="text" class="form-control" th:value="${dto.warehouseLocation}" name="warehouseLocation">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="width:100px; justify-content: center;">입고일자</span>
                            <input type="text" class="form-control" th:value="${dto.receivingDate}" name="receivingDate">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="width:100px; justify-content: center;">등록자</span>
                            <input type="text" class="form-control" th:value="${dto.registeredBy}" name="registeredBy">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="width:100px; justify-content: center;">등록일자</span>
                            <input type="text" class="form-control" th:value="${dto.registeredDate}" name="registeredDate">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="width:100px; justify-content: center;">입고완료</span>
                            <input type="checkbox" name="isReceived" th:checked="${dto.isReceived}" th:value="true">
                        </div>

                        <div class="my-4">
                            <div class="float-end">
                                <button type="button" class="btn btn-primary listBtn">List</button>
                                <button type="button" class="btn btn-secondary modBtn">수 정</button>
                                <button type="button" class="btn btn-danger removeBtn">삭 제</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">
    //error 처리
    const errors = [[${errors}]]
    console.log(errors)

    let errorMsg = ''

    if(errors){
        for(let i = 0; i < errors.length; i++) {
            errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
        }
        history.replaceState({}, null, null)
        alert(errorMsg)
    }

    //수정 버튼
    const link = [[${bioInvReceivingPageRequestDTO.getLink()}]]
    const formObj = document.querySelector("#f1")

    document.querySelector(".modBtn").addEventListener("click", function(e){
        e.preventDefault()
        e.stopPropagation()

        formObj.action = `/bio/BioInvReceivingmodify?${link}`
        formObj.method = 'post'
        formObj.submit()
    },false)

    //List버튼 처리
    document.querySelector(".listBtn").addEventListener("click", function(e){
        e.preventDefault()
        e.stopPropagation()

        formObj.reset()
        self.location = `/bio/BioInvReceivinglist?${link}`
    },false)

    //삭제 처리버튼
    document.querySelector(".removeBtn").addEventListener("click", function(e){
        e.preventDefault()
        e.stopPropagation()

        formObj.action = `/bio/BioInvReceivingremove`
        formObj.method = 'post'
        formObj.submit()
    },false)
</script>